body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #66BFBF;
    margin: 50px auto 0 auto;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;

}

h2 {
    color: #40514E;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
hr{
    border: dotted black 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
p{
    line-height: 2;
}
.intro{
    width: 30%;
    margin: auto;
}
.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 100px 0;
}

.profile-pic {
    width: 250px;
}

.coder {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.drawing {
    width: 25%;
    float: right;
    margin-left: 30px;


}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    
}

.bottom-container {}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;

}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}